---
layout: page
title: Blog Archive
footer: false
group: navigation
---

<div id="blog-archives" class="category">
{% assign footer_content = "tag" %}
{% for category in site.categories %} 
  {% capture categoryname %}{{ category[0] | downcase}}{% endcapture %}
  <h2><a id="{{ categoryname }}-ref"name="{{ categoryname }}">{{ categoryname }} </a></h2>
  <p><br></p>
  {% for post in category[1] %}
    <article>
      {% include archive_post.html %}
    </article>
  {% endfor %}
{% endfor %}
</div>
