---
layout: default
title : XiaoXin
tagline: 记录成长的点滴
description: 技术博客, 个人博客
---

<div class="row index-body">
  <div class="span8">
    {% for post in paginator.posts %}
    <div class="wrapper">
        <h2 class="h2"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        {% if post.content contains "<!-- more -->" %}
          {{ post.content | split:'<!-- more -->' | first }}
        {% else %}
          {{ post.content | strip_html | truncatewords:50 }}
        {% endif %}
    
        {% if post.content contains "<!-- more -->" %}
          <p><a class="btn" href="{{ post.url }}" class="more-link"><span class="readmore">详细 &raquo; </span></a></p>
          <hr></hr>
        {% endif %}
    </div>
    {% endfor %}
  </div>

  <div class="span4">
	{% include aside %}
  </div>
</div>
