<ul class="main-navigation">
  <li><a href="{{ HOME_PATH }}">Home</a></li>
  <li><a href="{{ BASE_PATH }}/archive.html">Archives</a></li>
  <li><a href="{{ BASE_PATH }}/categories.html">Categories</a></li>
  <li><a href="{{ BASE_PATH }}/tags.html">Tags</a></li>
</ul>
<ul class="social">
  <li>
  <a href="{{ BASE_PATH }}/rss.xml" class="zocial rss icon" target="_blank">
  </a>
  </li>
  {% if site.author.github %}
  <li>
  <a href="https://github.com/{{ site.author.github }}" class="zocial github icon" target="_blank">
  </a>
  </li>
  {% endif %}
  {% if site.author.weibo %}
  <li>
  <a href="http://weibo.com/{{ site.author.weibo }}" class="zocial weibo icon" target="_blank">
  </a>
  </li>
  {% endif %}
</ul>
