/* custom container */

html {
	background: #252525;
}

body {
	font-family: arial, sans-serif; 
	max-width: 1210px;
	padding: 0;
	relative: relative;
	margin: 0 auto;
	background: #edeff4;
	color: #222;
}

body>header, body>nav {
	padding-left: 35px;
	padding-right: 35px;
}

body>header {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background: #263347;
	font-size: 1.3em;
}

body>header h1 {
	display: inline-block;
	margin: 0px;
	font-size: 2.2em;
	line-height: 1.2em;
}

body>header h1 a {
	color: #f2f2f2;
	text-decoration: none;
	cursor: auto;
}

body>header h2 {
	margin: .2em 0 0;
	font-size: 1em;
	color: #bac7da;
}

body>header h1, h2 {
	font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
	font-weight: normal;
}

body>header h1 a,
body>header h1 a:visited,
body>header h1 a:hover {
	color: #f2f2f2;
	text-decoration: none;
}

a {
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
}

h1, h2, h3, h4, h5, h6 {
	text-rendering: optimizelegibility;
	margin-bottom: 1em;
	font-weight: bold;
}

body>nav {
	font-size: 0.9em;
	position: relative;
	background-color: #ccc;
	background: linear-gradient(#e0e0e0,#cccccc,#b0b0b0);
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #8c8c8c;
	padding-top: .35em;
	padding-bottom: .35em;
}

body>nav:after {
	content: "";
	display: table;
	clear: both;
}

body>nav ul {
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
	display: block;
	float: left;
	padding-top: .15em;
}

body>nav ul li {
	list-style-image: none;
	list-style-type: none;
	white-space: nowrap;
	display: inline;
}

body>nav ul li:first-child,
body>nav ul li:first {
	padding-left: 0;
}

body>nav a:hover{
	color: #2b2b2b;
	text-decoration: none;
}

body>nav a:visited {
	color: #6b6b6b;
}

body>nav a {
	color: #6b6b6b;
	font-family: "PT Sans","Helvetica Neue",Arial,sans-serif;
	text-shadow: #ebebeb 0 1px;
	text-decoration: none;
	font-size: 1.4em;
	font-weight: normal;
	padding: .1em 0;
	line-height: 1.5em;
}

body>nav li+li {
	border-left: 1px solid #b0b0b0;
	margin-left: .8em;
}

body>nav li+li a {
	padding-left: .8em;
	border-left: 1px solid #dedede;
}

body>nav ul.social {
	margin-left: .8em;
	float: right;
}

.index-body {
	margin-top: 40px;
}

.container-narrow {
	margin: 0 auto;
	min-width: 980px; 
}

.container-narrow > hr {
	margin: 30px 0; 
}

.content.no-header {
	padding-top: 40px;
}

.content div.row {
	margin-right: -30px;
}

.content div.row div.span9 > img {
	display: block;
	margin: 10px auto;
}

.content div.row div.span3 {
	margin-left: 40px;
}

.content div.row div.span3 h4 {
	margin-top: 10px;
}

.content div.row div.span3 h4:first {
	margin-top: 0;
}

.container > footer {
	margin-top: 20px;
	clear: both;
}

.container > footer p {
	text-align: center;
}

.content p {
	padding-bottom: 15px;
	line-height: 25px;
	margin: 0;
}

.page-header {
	padding: 20px 20px 10px;
	margin: 20px -20px 20px;
}
.page-header h1 {
	margin-bottom: 0;
}

.topbar .btn {
	border: 0;
}

/* Pagination */
div.pagination li a {
	-webkit-box-shadow: 0px 1px 1px black;
	-moz-box-shadow: 0px 1px 1px black;
	box-shadow: 0px 1px 1px black;
}

/* posts index */
.post > h3.title {
	position: relative;
	padding-top: 10px; }

.post > h3.title span.date {
	position: absolute;
	right: 0;
	font-size: 0.9em; }

.post > .more {
	margin: 10px 0;
	text-align: left; }

/* post-full*/
.post-full .date {
	margin-bottom: 20px;
	font-weight: bold; }

/* tag_box */
.tag_box {
	list-style: none;
	margin: 0;
	overflow: hidden; }

.tag_box li {
	line-height: 28px; }

.tag_box li i {
	opacity: 0.9; }

.tag_box.inline li {
	float: left; }

.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color: #555;
	border-radius: 3px;
	text-decoration: none;
	border: 1px dashed #cccccc; }

.tag_box a span {
	vertical-align: super;
	font-size: 0.8em; }

.tag_box a:hover {
	background-color: #e5e5e5; }

.tag_box a.active {
	background: #57a957;
	border: 1px solid #4c964d;
	color: #fff; }

table,td,th {
	border:2px solid #A0A0A0;
	padding: 3px;
}

.span9 h3 {
	background: #F2F2F2;
	color: #20435C;
	border-bottom: 1px solid #CCC;
	margin: 20px -20px 10px -20px;
	padding: 3px 0 3px 10px;
}

section {
	border:1px solid rgba(0,0,0,0.067);
	border-radius:5px;
	box-shadow:1px 2px 3px rgba(0,0,0,0.067);
	padding:0px   5px;margin:5px 0px;
}

section h4 {
	border-bottom:1px dashed rgba(0,0,0,0.067);
}

section:hover {
	transition:all 0.3s;
	background-color:rgba(245, 245,245,0.7);
	border:1px solid rgba(0,0,0,0.167);
	box-shadow:1px 3px 4px rgba(0,0,0,0.167);
}

.highlight pre {
	background: #FFFFE5;
}

.highlight pre:hover {
	transition:all 0.3s;
	border:1px solid rgba(0,0,0,0.35);
	box-shadow:1px 2px 2px rgba(0,0,0,0.167);
}

.anchor {
	padding-top: 40px;
}
