/* custom container */
body {
}

.container-narrow {
  margin: 0 auto;
  min-width: 900px; }

.container-narrow > hr {
  margin: 30px 0; }

.content.no-header {
  padding-top: 40px;
}

.content div.row div.span8 > img {
  display: block;
  margin: 10px auto;
}

.content div.row div.span4 h4 {
  margin-top: 10px;
}

.content div.row div.span4 h4:first {
  margin-top: 0;
}

.container > footer {
  margin-top: 20px;
  clear: both;
}

/* line 103, ../_sass/_base.scss */
.container > footer p {
  text-align: center;
  /* center align it with the container */
}

.content p {
  padding-bottom: 15px;
  line-height: 25px;
  margin: 0;
}

.page-header {
  padding: 20px 20px 10px;
  margin: 20px -20px 20px;
}
/* line 155, ../_sass/_base.scss */
.page-header h1 {
  margin-bottom: 0;
}

/* line 161, ../_sass/_base.scss */
.topbar .btn {
  border: 0;
}

/* Pagination */
/* line 168, ../_sass/_base.scss */
div.pagination li a {
  -webkit-box-shadow: 0px 1px 1px black;
  -moz-box-shadow: 0px 1px 1px black;
  box-shadow: 0px 1px 1px black;
}

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57a957;
  border: 1px solid #4c964d;
  color: #fff; }
