{% include setup %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {% if page.title %}
        {{ page.title }} - 
      {% endif %}
      {{ site.title }}
    </title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{%else%}<meta name="keywords" content="{{ site.keywords }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Enable responsive viewport -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
			tex2jax: {
				inlineMath: [['$','$'], ['\\(','\\)']],
				skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
			},
			TeX: {equationNumbers: {autoNumber: ["AMS"], useLabelIds: true}}
		});
	</script>
	<script type="text/javascript">
		function addBlankTargetForLinks () {
			$('a[href^="http"]').each(function(){
				$(this).attr('target', '_blank');
			});
		}
		$(document).bind('DOMNodeInserted', function(event) {
			addBlankTargetForLinks();
		});
	</script>

	<!-- for machjax and pygment conflict -->
	<style type="text/css">.MathJax .mi, .MathJax .mo, .MathJax .mtext { color: #111; }</style>

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/pygments.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/css/zocial.stripped.css">

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>      
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          <div class="nav-collapse">
            <ul class="nav">
              {% assign pages_list = site.pages %}
              {% assign group = 'navigation' %}
              {% include pages_list %}
            </ul>
            <ul class="nav pull-right social visible-desktop">
              <li class="divider-vertical"></li>
              <li>
                <a href="{{ BASE_PATH }}/rss.xml" class="zocial rss icon" target="_blank">
                  <span class="hidden-desktop">RSS</span>
                </a>
              </li>
              {% if site.author.github %}
                <li>
                  <a href="https://github.com/{{ site.author.github }}" class="zocial github icon" target="_blank">
                    <span class="hidden-desktop">Github</span>
                  </a>
                </li>
              {% endif %}
              {% if site.author.weibo %}
                <li>
                  <a href="http://weibo.com/{{ site.author.weibo }}" class="zocial weibo icon" target="_blank">
                    <span class="hidden-desktop">Weibo</span>
                  </a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        {{ content }}
      </div>
      <hr>
      <footer>
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
          with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
          and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
        </p>
      </footer>
    </div>

    {% include analytics %}
  </body>
</html>
